.c_slider {
  position: relative;
  margin: 0 auto;

  &__slide {
    display: flex;
    width: auto !important;
    max-height: 80vh;
  }

  &__navigation {
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    & svg {
      width: 40px;
      height: 85px;
    }

    &[disabled] {
      pointer-events: none;
      color: white;
    }

    &__right {
      right: 60px;
    }

    &__left {
      left: 60px;
    }
  }
}
