.open_sans {
  font-family: var(--font-open-sans);
}
.arizonia {
  font-family: var(--font-arizonia);
}
.poppins {
  font-family: var(--font-poppins);
}
.greatVibes {
  font-family: var(--font-great-vibes);
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  --rose-pink: #FF8F8F;
  --lemon-yellow: #FFF1CB;
  --sky-blue: #C2E2FA; 
  --light-move: #B7A3E3;
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: var(--font-poppins);
}

* {
  /* box-sizing: border-box;
  padding: 0;
  margin: 0; */
  font-family: var(--font-poppins);
}

/* a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
