.navbar {
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: transparent;
  backdrop-filter: blur(10px);
  /* position: absolute; */
}
.aboutHeading {
  font-family: var(--font-great-vibes);
  font-weight: 600;
}
.aboutText {
  font-weight: 400px;
  font-size: 17px;
}
.bannerHeading {
  font-weight: 400px;
  font-size: 17px;
}
.bannerImg {
  width: 100%;
  height: 400px;
  object-fit: cover;
  background-position: top center;
}
.staticBannerImg {
  position: relative;
  width: 100vw;
  height: 300px;
  object-fit: cover;
  background-image: url(/images/servicesBanner.webp);
  background-position: center;
  background-repeat: no-repeat;
}
.logoSubtitle {
  font-family: var(--font-arizonia);
  font-weight: 400px;
  font-size: 35px;
}
.aboutTitle {
  color: grey;
  font-family: var(--font-arizonia);
  font-weight: 400;
  font-size: 30px;
}
.missionContainer {
  font-size: 18px;
}
.navTitle {
  font-size: 19px;
  font-weight: 400;
}
.formControl {
  border: solid;
  border-width: 0.1;
  border-color: grey;
}
.progressIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  border-top-left-radius: 10;
  border-top-right-radius: 10;
  border-bottom-right-radius: 10;
  box-shadow: 5px 5px 5px 5px lightblue;
}
.expectImg {
  text-align: center;
  margin-top: 20px;
}
.expectImgContainer {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 450;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.footerLink {
  text-decoration: none;
  color: gray;
}
.footerLink:hover {
  color: black
}
.contactLink {
  text-decoration: none;
  color: white;
}
.contactLink:hover {
  color: black
}
.homeLink {
  text-decoration: none;
  color: #212529;
  transition: all 500ms;
}
.homeLink:hover {
  color: #ff8f8f;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/*//////////////////////////////////////////////////////////////////*/
.stepContainer {
  display: flex;
  width: 100%;
  font-family: Arial, sans-serif;
}

.step {
  position: relative;
  flex: 1;
  padding: 13px 20px;
  background-color: #ccc;
  color: white;
  text-align: center;
  font-weight: bold;
  transition: background 0.3s;
  margin-right: 10px;
}

/* Arrow on the right side */
.step::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 20px solid #ccc;
  z-index: 2;
}

/* Mask left overlap */
.step::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 20px solid white;
  z-index: 1;
}

/* Active step */
.active {
  background-color: #4caf50;
}

.active::after {
  border-left-color: #4caf50;
}

/* Last step - no arrow */
.step:last-child::after {
  display: none;
}
/*//////////////////////////////////////////////////////////////////*/



/*/ /////////////////////////////////////////////////////////////////*/
.curved_image_wrapper {
  position: relative;
  width: 100%;
  /* max-width: 885px; */
  margin: 0 auto;
}

.curved_svg {
  display: block;
  width: 80%;
  height: auto;
}

.image_container {
  width: 100%;
  height: 90%;
  position: relative;
}
