/* #app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #000;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
} */

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  
}

.swiper_slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper_slide_img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: top center;
}

.mySwiper{
  /* background: linear-gradient(to bottom right, #d7be79, #6EC8BA) */
  background: linear-gradient(to bottom right, #FF8F8F, #FFF1CB, #C2E2FA, #B7A3E3)
}
